<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="well show_well">
        
        <h1>Order Placed!</h1>
        <p>Your order number is: <%= @order.id %></p>
        <p>You ordered:
          <ul>
            <% @order.products.each do |item| %>
              <li><%= item.name %></li>  
            <% end %>
          </ul>
        </p>
        <p>Total: <%= number_to_currency(@order.total) %></p>
        <p>A receipt has been sent to <%= current_user.email %></p>
        
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>