// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-green: #214c20;
$primary-red: #b72100;

//Flash Message CSS
h2 {
  text-align: center;
}

.container-fluid, .container {
  text-align: center;
  .row {
    text-align: left;
    .col-md-4, .col-md-6, .col-md-3 {
      margin: 0 auto;
      .well {
        img {
          box-shadow: 3px 5px $primary-green;
          width: 100%;
          height: auto;
        }
      }
      h2 {
        color: $primary-green;
      }
      p {
        font-size: 1.25em;
        padding: 5px;
        color: $primary-red;
      }
      button {
        width: 100%;
      }
      a {
        margin: 5px;
      }
      input {
        width: 100%;
        margin: 5px;
      }
      .btn {
        margin-top: 15px;
      }
    }
  }
}