// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-green: #214c20;
$primary-red: #b72100;

//Flash Message CSS
h2 {
  text-align: center;
}

.container-fluid, .container {
  text-align: center;
  .bottom_bar {
    padding-top: 35px;
    margin-bottom: 25px;
    h2 {
      text-align: center;
    }
    .col-xs-4, .col-sm-2, .col-md-2, .col-lg-2 {
      
      .bottom_well {
        background: url('binding_light.png');
        height: 150px;
        .img-rounded {
          width: 75px;
          height: 75px;
          float: right;
          margin-top: 20px;
        }
        span {
          color: $primary-red;
        }
      }
    }
  }
  .row {
    text-align: left;
    .col-md-4, .col-md-6, .col-md-3 {
      margin: 0 auto;
      .show_well {
        background: url('paisley.png');
        img {
          // box-shadow: 3px 5px $primary-green;
          width: 100%;
          height: auto;
        }
        textarea {
          width: 100%;
        }
        h2 {
          color: $primary-green;
        }
        p {
          font-size: 1.25em;
          padding: 5px;
          color: black;
        }
        span {
          color: $primary-red;
        }
        button {
          width: 100%;
        }
        a {
          margin: 5px;
        }
        input {
          width: 100%;
          margin: 5px;
        }
        .btn {
          margin-top: 15px;
        }
      }
    }
  }
}