<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">      
        <h1>Use this page to create a new product</h1>
        <%= form_tag "/new_product_result", method: :post do %>
          <p>Name: <input type="text" name="name"></p>
          <p>Price: <input type="text" name="price"></p>
          <p>Image URL: <input type="text" name="image"></p>
          <p>Description: <input type="text" name="description"></p>
          <p>Quantity Available: <input type="text" name="quantity"></p>
          <p><input type="submit" value="Enter New Product"></p>

        <% end %>
        <%= link_to "View All Products", "/products" %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>